.article {
  height: 100%;
  width: 100%;
  border-style: solid;
  padding: 3em;
  font-family: "Raleway", sans-serif;
  border-width: 0.1em;
  border-color: gray;
  margin-top: 2em;
}

.article_date {
  float: right;
}

.item {
  text-align: center;
  margin-bottom: -1em;
}

.divider {
  width: 5em;
}

.title {
  font-family: "Rampart One", cursive;
}

.article h1 {
  text-align: left;
  margin-bottom: 1em;
  font-size: 2.2em;
}

.article hr {
  height: 0.063em;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.title_divider {
  height: 0.1em !important;
  border-width: 1 !important;
  background-color: black !important;
  margin-bottom: 2em !important;
}

.article p {
  color: #646464;
  font-size: small;
}

.article li {
  color: #646464;
  font-size: small;
}

.article ul {
  margin-top: -0.5em;
}

.article h4 {
  margin-bottom: -0.5em;
  font-family: "Oswald", sans-serif;
}

@media screen and (max-width: 900px) {
  .article {
    width: auto;
    padding: 1em;
    margin-top: 5em;
  }
}
