.article {
  height: 100%;
  width: 100%;
  border-style: solid;
  padding: 3em;
  font-family: "Raleway", sans-serif;
  border-width: 0.1em;
  border-color: gray;
  margin-top: 2em;
  border-radius: 1em;
}

.item_title {
  text-align: center;
  margin-top: 2em;
}

.header_title {
  font-family: "Rampart One", cursive;
}

.article h1 {
  text-align: left;
  margin-bottom: 1em;
  font-size: 2.5em;
}

.article h3 {
  font-size: 1.5em;
}

.article h4 {
  font-size: 1.3em;
  font-family: "Oswald", sans-serif;
}

.article hr {
  height: 0.063em;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.header_title_divider {
  height: 0.1em !important;
  border-width: 0.05em !important;
  background-color: black !important;
}

.article li,
.article p {
  color: #646464;
  font-size: 1em;
}

.article ul {
  margin-top: -0.8em;
}

@media screen and (max-width: 1030px) {
  .article {
    width: auto;
    padding: 1em;
    margin-top: 5em;
  }
}
