#footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #ffdede;
  left: 0;
  text-align: center;
  padding-top: 1em;
  position: fixed;
  z-index: 1;
}

.social_media_icon {
  height: 1.8em !important;
  width: 1.8em !important;
  margin-left: 0.5em;
}
