#hamburger_menu {
  display: none;
}

#menu {
  left: 0;
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #545b5a;
  font-family: "Oswald", sans-serif;
  display: inline-flex;
  line-height: 1.3em;
}

#navigation {
  font-size: 1em;
  border-left: 0.1em solid #000;
  position: fixed;
  margin-left: 10em;
}

#name {
  margin: 1em 0 1em 3.5em;
  font-size: 1em;
  font-family: "Rampart One", cursive;
}

#navigation ul {
  list-style: none;
}

#navigation ul li {
  padding: 0 0.5em;
  text-decoration: none;
  display: inline;
}

#name a {
  text-decoration: none;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 600px) {
  #navigation {
    display: none;
  }

  #name {
    text-align: center;
    width: 100%;
    padding-right: 0;
    margin-left: 3em;
  }

  #hamburger_menu {
    float: right;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    position: relative;
    margin-top: 1em;
    margin-right: 1em;
    cursor: pointer;
  }
}
