.mobile_menu li {
  list-style: none;
  text-align: center;
}

.mobile_menu nav {
  text-align: center;
}

.mobile_menu a {
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 2em;
  color: black;
  display: block;
  font-family: "Raleway", sans-serif;
}

.mobile_menu a:hover {
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  .mobile_menu {
    display: none;
  }
}
